body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.ernährung {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.ernährung-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    text-align: center;
}

.ernährung-table td {
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    width: 16.66%; /* verteilt die Zellen gleichmäßig */
}

.kalorien {
    background-color: #007BFF;
}

.protein {
    background-color: orange;
}

.kohlenhydrate {
    background-color: red;
}

.fett {
    background-color: deepskyblue;
}

.preis {
    background-color: lightslategrey;
}

.veggie {
    background-color: green;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.essen-hinzufügen, .meine-woche {
    width: 48%;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px 0;
}

button.remove {
    background-color: lightslategrey;
}

button:hover {
    opacity: 0.9;
}

.tag {
    margin-bottom: 5px;
    background: #f8f9fa;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.essen {
    padding-bottom: 350px;
    border-radius: 5px;
    background-color: #f8f9fa;
    font-size: 16px;
    width: 100%;
}

.date {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 10px;
    width: 100%;
}

.makros {
    font-size: 12px;
    color: darkgrey;
}

.marker {
    list-style: none;
}

button.hinzufügen {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkgray;
}


